
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]

<p>Overview:</p>

<p>Ctrl_Gallery is a platform for users to post content like photos and other information. Ctrl_Gallery provides social interactions between users who can share pictures on a user's content.Ctrl_Gallery can be accessed through its website.</p>
<p>Safety:</p>

<p>Ctrl_Gallery's terms state it is a platform for users to post content, including photos and other materials to the service and to share user content publicly. This means that other users may search, see, use, or share any user content that is posted and made publicly available through the service.</p>
<p>Privacy:</p>

<p>Ctrl_Gallery's terms state they collect a broad range of personal information from people using the site, and about friends and contacts of people using Ctrl_Gallery.</p>
</h1>